.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#card-body {
  background-color: #151515;
  background-position: 0% 0%;
}

#card {
  height: 355px;
  width: 191px;
  overflow: hidden;
}

#card-img {
  height: "210px";
  transition: transform 0.5s ease;
}
#card-img:hover {
  transform: scale(1.2);
}

#link {
  text-decoration: none;
}

#navbar-image{
  background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/characters_art_mas_mob_01.jpg");
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
